{% extends 'app/partials/layout.html' %}
{% load static %}
{% load render_partial %}
{% block title %}محصولات عمده | فروشگاه کارزیبا{% endblock %}
{% block slider %}
    <section id="advertisement">
        <div class="container">
            <img src="{% static 'app/images/shop/advertisement.jpg' %}" alt=""/>
        </div>
    </section>
{% endblock %}
{% block content %}
    <div class="col-sm-9 padding-right">
        <div class="features_items">
            <!--features_items-->
            <h2 class="title text-center">محصولات عمده</h2>

            {% for product in products %}
                {% render_partial 'product.views.product_item_component' product=product %}
            {% endfor %}

            <div class="clearfix"></div>

            <ul class="pagination">
                <li class="active"><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">&raquo;</a></li>
            </ul>
        </div><!--features_items-->
    </div>

    {% render_partial 'product.views.sidebar_component' %}

{% endblock %}