{% extends 'layouts/base.html' %}
{% block title %}
    product list
{% endblock %}
{% block content %}
    <ul>
        {% for product in products %}
            {#            <li><a href="{% url 'product.show' product_slug=product.slug %}">{{ product.title }} / {{ product.price }}$</a></li>#}
            <li><a href="{{ product.get_absolute_url }}">{{ product.title }} / {{ product.price }}$</a></li>
        {% endfor %}
    </ul>
    {% for category in categories %}
        <h3> دسته {{ category.title }}</h3>
        <ul>
            <li>{{ category.products.get }}</li>
        </ul>
    {% endfor %}
    <hr>
    <p>
        products count: {{ total_products_count }}
    </p>

{% endblock %}