<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'app/partials/head-tag.html' %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <!--/head-->

    <body>
        <!-- header -->
        {% include 'app/partials/header.html' %}
        <!--/header-->

        <!--Slider-->
        {% block slider %}{% endblock %}
        <!--/Slider-->

        <!--Content-->
        <section>
            <div class="container">
                <div class="row">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </section>
        <!--/Content-->


        <!--Footer-->
        {% include 'app/partials/footer.html' %}
        <!--/Footer-->


        {% include 'app/partials/script.html' %}
    </body>
</html>